name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  ci:
    uses: ./.github/workflows/ci.yaml

  release:
    name: Publish crate
    runs-on: ubuntu-latest
    needs: ci
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Install latest Rust stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Authenticate with crates.io
        uses: rust-lang/crates-io-auth-action@v1
        id: crates-io-auth

      - name: Cargo publish
        run: cargo publish
        shell: bash
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.crates-io-auth.outputs.token }}
